.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.blue-1 {
	color: color(haavita, 1) !important;
}

.material-icons.blue-2 {
	color: color(haavita, 2) !important;
}

.material-icons.blue-3 {
	color: color(haavita, 3) !important;
}

.material-icons.blue-4 {
	color: color(haavita, 4) !important;
}

.material-icons.blue-5 {
	color: color(haavita, 5) !important;
}
